body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica,arial,sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

article h2 {
    font-size: 20px;
    font-weight: 550;
    margin: 1em 0 0;
}

#additional-aside-container {

}

#additional-container {

}

#additional-features-container {

}

.additional-more-in-container {

}

.additional-more-in-grid {

}

.article-author {
    font-size: 13px;
    font-weight: bolder;
    margin: 2.2em 0 1em;;
    padding: 0;
}

.article-author a {
    text-decoration: underline;
}

.article-container {
    width: 45%;
}

.article-credit-container {
    margin-bottom: 2em;
}

.article-credits {

}

.article-description {
    font-size: 15px;
    color: #666666;
    width: 90%;
    margin-bottom: 3em;
    margin-top: 0.5em;
}


.article-description span {
    color: #888888;
    font-size: 12px;
}

#article-group-paragraph-first {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin-top: 140px;
    width: 100%;
    font-size: 14px;
}


#article-image-group-container {
    width: 70%;
}

#article-image-group-container h2 {
    font-size: 20px;
    font-weight: 550;
    margin: 1em 0 0;
}

#article-image-group-description {
    font-size: 14px;
    margin: 0.4em 0;
    color: #666666;
}

.article-image-container img {
    margin: 2em 0 0;
    width: 100%;
}

.article-paragraph {
    font-size: 20px;
    color: #333333;
}

.article-section {

}

.article-subscribe {
    font-size: 15px;
    text-align: center;
    margin: 1.2em 0;
    color: #333333;
}

.article-subscribe a {
    color: #326891;
}

.article-subscribe a:hover {
    text-decoration: none;
}

.article-time {
    font-size: 13px;
}

.article-video {
    margin-top: 2em;
}

.back-to-homepage {

}

#comments-container {

}

.footer-arrow-up {
    position: relative;
    bottom: 0.1em;
}

#footer-expand {
    position: relative;
    right: 2em;
    font-size: 12px;
}

#footer-expand-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    right: 6em;
}

#footer-links {

}

#footer-nav {

}

#footer-sub-ad {

}

#footer-sub-ad h5 {
    font-weight: 100;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#footer-sub-bar {
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid black;
    align-items: center;
    height: 55px;
    cursor: pointer;
}

.header-search {
    position: relative;
    left: 2em;
}

#header-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 20px;
}

#header-container {
    top: 0;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

#header-nav-container {
    display: flex;
    align-items: center;
    position: relative;
    left: 20px;
}

#header-section-title {
    padding: 0;
    margin: 0;
    position: relative;
    left: 4em;
}

#header-subscribe-button {
    position: relative;
    right: 10px;
}

#header-title, #footer-title {
    padding: 0;
    margin: 0;
    width: 195px;
}

#header-title-container {
    display: flex;
    align-items: center;
}

.image-group-container {
    
}

.image-group-description {

}

.image-group-single {

}

.image-group-title {

}

#main-container {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-image-container {
    width: 70%;
}

#main-image-container img {
    width: 100%;
}

#main-img-credit {
    color: #888888;
    font-size: 12px;
}

#main-img-description {
    color: #666666;
    font-size: 15px;
    margin-top: 0.7em;
    width: 75%;
}

#main-title h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: italic;
}

#main-title-container {
    width: 45%;
}

.ny-button {
    background-color: #567B95;
    font-family: 'Franklin Gothic Medium', helvetica,arial,sans-serif;
    padding: 9px 12px 6px;
    border: 1px solid #354c5c;
    border-radius: 3px;
    outline: none;
}

.ny-button a {
    color: #fff;
}

.ny-button:active {
    outline: auto;
    outline-color: orange;
}

.ny-button:hover {
    background-color: #3f6077;
}

.short-hr {
    width: 10%;
    border-top: 1px solid rgb(190, 190, 190);
}

.toolbar {
    margin: 1.1em 0 1.6em;
    position: relative;
    right: 0.4em;
    z-index: -1;
}

.toolbar-icon {
    background-color: rgb(236, 236, 236);
    border: 0px solid rgb(146, 146, 146);
    border-radius: 25px;
    padding: 5px;
    margin: 0 0.4em;
}

.toolbar-blank-icon {
    font-size: 1.5em !important;
    margin: 0 0.3em;
    position: relative;
    top: 1px;
}

.fa-facebook {
    padding: 5px 8px;
}

.fa-whatsapp {
    padding: 5px 6px;
}

.fa-bookmark-o {
    position: relative;
    top: 3px;
}
